<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
   
    
   
    

    <div>
        <h1>Creating new account:</h1>
    </div>
    <div>
        <form action = "/registered" method="POST" >
            <label for="">New Username</label>
            <input type="text" name="name" placeholder="Enter your new username here">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Enter your new password here">
            <button class="one">Submit</button>
        </form>

    </div>
   
</body>
</html>